* {
	margin: 0;
	padding: 0;
}

:root {
	--color-black: #393E46;
	--color-green: #6D9886;
	--color-yellow: #F2E7D5;
	--color-white: #FFF;

	--spacing-s: 4px;
	--spacing-m: 8px;
	--spacing-l: 16px;
}

body {
	font-family: 'Futura';
	background-color: var(--color-black);
}
